@import "tailwindcss";

@theme {
    --font-sans: "Actay", "system-ui", "sans-serif";

    --breakpoint-sm: 48.75rem;
    --breakpoint-md: 90rem;
    --breakpoint-xl: 108rem;


    --color-white-50: oklch(94.61% 0 0);
    --color-slate-70: oklch(23.08% 0 0);
    --color-gray-10: oklch(79.52% 0 0 / 48%);
    --color-gray-30: oklch(88.53% 0 0);
    --color-gray-50: oklch(44.95% 0 0);

    --gradient-home: linear-gradient(173deg, rgba(11,11,11,0.6783963585434174) 43%, rgba(255,255,255,1) 100%, rgba(255,255,255,0) 100%);
    /* ... */
  }