@import 'tailwindcss';

@theme {
    --font-sans: 'Actay', 'system-ui', 'sans-serif';
    --font-logo: 'Syncopate';

    --breakpoint-sm: 48.75rem;
    --breakpoint-md: 90rem;
    --breakpoint-xl: 108rem;

    --color-white-50: oklch(94.61% 0 0);
    --color-slate-70: oklch(23.08% 0 0);
    --color-gray-10: oklch(79.52% 0 0 / 48%);
    --color-gray-20: oklch(76.68% 0 0);
    --color-gray-30: oklch(88.53% 0 0);
    --color-gray-50: oklch(44.95% 0 0);
    --color-yellow-50: oklch(80.57% 0.16758 78.6389);
    --color-yellow-20: oklch(61.39% 0.1272 79.85);
    --color-black-20: oklch(28.09% 0 0);

    --gradient-home: linear-gradient(
        173deg,
        rgba(11, 11, 11, 0.6783963585434174) 20%,
        rgba(255, 255, 255, 1) 100%
    );

    --shadow-logo: inset -2px -2px 0px rgba(255, 255, 255, 0.7),
        inset 2px 2px 0px rgba(0, 0, 0, 0.7);
    --shadow-step-card: inset 2px -2px 0px rgba(255, 255, 255, 0.4),
        inset -2px 2px 0px rgba(0, 0, 0, 0.4);
    --shadow-carousel-btn: inset 0.08em 0.08em 0em rgba(255, 255, 255, 1),
        inset -0.08em -0.08em 0em rgba(0, 0, 0, 0.8);
    --shadow-input: 0 0 0 3px rgba(255, 255, 255, 1), 0 0 0 4px rgba(0, 0, 0, 1);
    /* ... */
}

.btn-primary {
    @apply w-max border flex items-center gap-2 py-[0.35em] px-[1em] rounded-full transition-colors duration-300 hover:opacity-90 uppercase cursor-pointer;
}

.input-field {
    @apply focus-within:ring-1 hover:bg-gray-100 focus-within:shadow-input transition-colors duration-300;
}

.section-padding {
    @apply px-10 md:px-28;
}

.skeleton {
    border-radius: inherit;
    animation: loading 1.5s infinite ease-in-out;
    color: transparent;
}

@keyframes loading {
    0% {
        background-color: #f0f0f0;
    }
    50% {
        background-color: #b1abab;
    }
    100% {
        background-color: #f0f0f0;
    }
}
